In [1]:
import os
import datetime
#os.chdir("/home/marcos-rago/Documents/")

from utils.functions_ia import *

cnxn = connect_database()
query = "SELECT * FROM ACTIVE.DBO.TABLERO_LATE_COL_AMEX_GRCC"
df = pd.read_sql(query, cnxn).dropna(how = "all")
df.columns = [col.upper() for col in df.columns]

key = "1-yGVdnYAK6VmmUIp0ouiXymJu1HkpVM_7B5VstbX_18"
sheet_name = "Hoja 1"

gc = connect_spreadsheets()

ws = get_df_from_spreadsheet(gc, key, sheet_name)


today = list(set(df.FECHA_QUERY))[0]
today_str = str(today.year) + "-" + str(today.month) + "-" + str(today.day)



updated = df

updated = updated.loc[:, ~updated.columns.str.contains('^Unnamed')]

updated['ACTUALIZADO'] = datetime.datetime.strftime(datetime.datetime.today(), "%d %B %Y %H:%M")

updated = updated[updated.groupby(['CICLO_MOROSO', 'CIERRE_PROX_PROX','TABLA_MOSTRADA','OPERADOR'])['CLOSE_BALANCE'].sum()>0].reset_index(drop=True) 
#updated = updated[updated["OPERADOR"].notna()].reset_index(drop=True)
#updated["OPERADOR"] = updated["OPERADOR"].str.strip().str.upper()
#print(updated["OPERADOR"])

df_ = df.groupby(['CICLO_MOROSO','CIERRE_PROX_PROX','TABLA_MOSTRADA','OPERADOR'])['CLOSE_BALANCE'].sum()>0

Connection with active failed

AttributeError: 'NoneType' object has no attribute 'cursor'